root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{h,cpp,hlsl,hlsli}]
indent_style = space
indent_size = 4

[*.cmake]
indent_style = space
indent_size = 2

[CMakeLists.txt]
indent_style = space
indent_size = 2
